.header {
  background-color: rgb(175, 129, 82);

  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2em;
}

h1 {
  font-size: 4em;
}
