.hover-portrait {
  width: 20em;
  height: 20em;
  max-width: 90vw;
  max-height: 90vw;
  background-image: url("../../Images/portrait.svg");
  background-size: cover;
  transition: background-image 0.5s ease;
}

.hover-portrait:hover {
  background-image: url("../../Images/portrait.png");
  transition: background-image 0.5s cubic-bezier(0, 2.5, 1, -1);
}
