#body {
  background-color: var(--body-color);

  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: stretch;
}

.education-element {
  text-align: left;
  padding: 0 1em;
}
