.progress-bar {
  background-color: black;
  display: inline-flex;
  margin: 0.5ch;
  border-radius: 1ex;
  padding: 0.5ch 0.5ch 0.5ch 0;
}

.progress-element {
  display: inline-block;
  width: 6ch;
  height: 2ex;
  margin: 0 0 0 0.5ch;
  border-radius: 0.7ex;
  box-shadow: 0 0 1ch black inset;
}

.progress-element-full {
  background-color: var(--body-color);
}

.progress-element-empty {
  background-color: black;
}
