.activity-title {
  display: flex;
  justify-content: space-between;
}

.activity-container {
  display: flex;
  flex-direction: column;
  padding: 0.5em 1em;
}

.activity-container > p {
  margin-top: 0.5em;
  text-align: left;
}
