#footer {
  background-color: black;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  padding: 1em 0;
}

.fa {
  color: grey;
  text-decoration: none;
  font-size: 4em;
  transition: color 0.3s;
}

.fa:hover {
  color: white;
}
